bin/
obj/
publish/
*.user
*.vs
.vsconfig
.vscode/
*.log
*.zip
*.db
*.suo
*.ncb
*.cache
*.pdb
TestResults/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
db.sqlite3
*.sqlite3
staticfiles/
.DS_Store
media/
